/*#9097C0   <----- weird purple  |||  green -----> #21A179*/


* {
	box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
[class*="col-"] {
	float: left;
  padding: 15px;
}
.asd{
  grid-column-start: 1;
  grid-column-end: 13;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-width: 600px) {
  .border{
    display: none;
  }
}

h1,
p,
a{
  margin: 0;
  padding: 0;
  font-family: Arial;
}

h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}

p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#FBC30A;
}

li{
  display:inline-block;
}

li a {
  font-family: Arial;
  display: block;
  color:white ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fbbe38 ;
}

.centered
{
  margin: auto;
  width: 100%;
  
  background-color:#FBC30A;
  padding: 10px;
  text-align: center;
}

.wrapper-menu
{
  background-color:#FBC30A;
}
